@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Business
        4.3 Projects
        4.4 Services
        4.5 Contact
        4.6 Footer
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
body {
    font-family: Roboto, sans-serif;
    color: var(--black);
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}


/* ------------------------------- 2. Typography ----------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather, serif;
    font-weight: 700;
}

button, input {
    font-family: inherit;
}

/* ------------------------------- 3. Layout --------------------------------------- */

:root {
    --primary: #5722CD;
    --primary-light: #F2F0FF;
    --secondary: #ED4385;
    --white: #ffffff;
    --black: #0C0C0C;
    --blue: #4B49E8;
    --gray: #504f4f;
}

/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid greenyellow;
}

.inner-container {
    flex-basis: 1200px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    border: 2px dashed orange;
}

/* --------------- 3.2 Other --------------------------- */

a,
a:visited,
a:link {
    text-decoration: none;
    color: var(--white);
}

.btn {
    padding: 20px;
    border: none;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    width: 200px;
    margin: 0 auto;
}

.btn:hover {
    background-color: white;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    font-weight: 400;
}

.btn-pink {
    background-color: var(--secondary);

}

/* ------------------------------- 4. Areas ---------------------------------------- */
/* --------------- 4.1 Header ------------------------- */
.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: auto;
    background: linear-gradient(to right bottom, var(--blue), var(--primary));
    color: var(--white);
    text-align: center;
}

.navigation-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    width: 100%;
    font-weight: 500;
    padding: 20px;
}

.header-title {
    padding: 50px 20px 20px 20px;
    font-weight: 900;
}

.header p {
    padding: 30px;
    font-weight: 200;
    font-size: 25px;
}

.inner-container__header {
    display: flex;
    flex-direction: column;
    flex-basis: 440px;
    margin: 0 20px;
    border: 2px dashed orange;
}

.inner-container__header-navigation {
    margin: 0 20px;
    border: 2px dashed orange;
}
.header .header-squiggle::before  {
    content: url("assets/squiggle_line_stripe.svg");
    position: absolute;
    left: calc(50% - 35px);
    top: 430px;
}

/* --------------- 4.2 Business ------------------------- */
.section-business {
    padding: 80px 0;
    color: var(--primary);
    text-align: center;
    font-size: 30px;
}

.section-business p {
    font-family: Merriweather, serif;
    font-weight: 500;
    line-height: 1.6;
    padding-bottom: 15px;
}

.business-text{
    color: var(--black);
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.section-business a {
    color: var(--primary);
}

/* --------------- 4.3 Projects ------------------------- */


/* --------------- 4.4 Services ------------------------- */
.section-services {
    padding: 50px 0;
}

.section-services .article-item {
    text-align: left;
    width: 350px;
    border: 1px solid var(--primary);
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.article-item h3 {
    color: var(--primary);
}

.article-item p {
    color: var(--gray);
}

.article-item img {
    max-width: 50px;
    margin: 16px 0 ;
}

.inner-container__services{
    flex-basis: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 10px 0 40px;
    border: 2px dashed orange;
    gap: 30px;
}
/* --------------- 4.5 Contact ------------------------- */

/* --------------- 4.6 Footer ------------------------- */
.footer {
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    padding-top: 26px;
    padding-bottom: 20px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */

/* Tablet range 768px - 1200px */
@media screen and (min-width: 768px) and (max-width: 1200px ) {

    .btn {
        margin-top: 20px;
    }
}


/* Desktop 1200px */
@media screen and (min-width: 1200px) {

    .btn {
        margin-top: 40px;
    }

    .navigation-nav {
        justify-content: flex-end;
        font-weight: 300;
    }

    .inner-container__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 440px;
        margin: 0 auto;
        border: 2px dashed orange;
        width: 1200px;
    }


}
